* {
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Index Page Styles  */

.wrapper.index-page {
  justify-content: center;
}

.main-section,
.main-section .search-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-container img {
  display: block;
  margin: 0 auto;
  width: 69%;
}

.main-section .search-container {
  margin-top: 30px;
  width: 100%;
}

.search-container .search-button {
  width: 125px;
  border-radius: 1px;
  font-weight: 600;
  margin-top: 30px;
}

.main-section .search-container .search-box {
  border: 1px solid #dfe1e5;
  height: 44px;
  border-radius: 24px;
  padding: 10px;
  box-shadow: none;
  width: 69%;
  max-width: 630px;
  color: #000;
}
.main-section .search-container .search-box:hover {
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
}

/* Search Page Styles */

.header {
  border-bottom: 1px solid #ebebeb;
}

.header .header-content {
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.header-content .logo-container {
  flex: 0.2;
  width: 150px;
  padding: 20px 10px;
  box-sizing: border-box;
}

.header-content .logo-container img {
  width: 100%;
}

.header-content .search-container {
  flex: 0.8;
}

.header-content .search-bar-container {
  display: flex;
  width: 70%;
  max-width: 620px;
  background: #fff;
  height: 44px;
  border-radius: 24px;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

.header-content .search-bar-container .search-box {
  flex: 1;
  border: none;
  background-color: transparent;
  padding: 12px;
  font-size: 16px;
}

.header-content .search-bar-container .search-button {
  background: #fff;
  display: flex;
  border: none;
  margin-top: 0;
  width: 44px;
  height: 44px;
  padding-right: 20px;
  justify-content: center;
  border-radius: 24px;
}

.header-content .search-bar-container .search-button img {
  width: 30px;
}

.tabs-container {
  margin-left: 23%;
}

.tabs-container .tab-list {
  padding: 0;
  margin: 0;
}

.tabs-container .tab-list li {
  display: inline-block;
  padding: 0 16px 12px 16px;
  font-size: 13px;
}

.tabs-container .tab-list li a {
  text-decoration: none;
}

.tabs-container .tab-list .active {
  border-bottom: 3px solid #4a73e8;
}
.tabs-container .tab-list .active a {
  font-weight: 700;
  color: #4a73e8;
}
